@model CharacterInfoDto

<div class="character">
    <h2>@Model.Name</h2>
    <div>HP: @Model.Health/@Model.MaxHealth</div>
    <div>Gold: @Model.Gold</div>
</div>

<div class="task">
        <div class="description">@Model.TaskDescription</div>
            
        @foreach (var choice in Model.Choices)
        {
            <div class="editor-field">
            @using (Html.BeginForm("Choose", "Home"))
            {
                @Html.Hidden("Choice", choice.Code)
                <input type="submit" value="@choice.Text" />
            }                
            </div>
        }
</div>
