@using Zork.Core.Players

@model ViewPlayerInfoDto

@{
}

<div id="content">
    <h2>@Model.Name</h2>
    <div class="property">
        Level @Model.Level
    </div>
    <div class="property">
        @Model.HitPoints / @Model.MaxHitPoints HP (@Model.Life%)
    </div>
    <div class="property">
        @Model.Gold GP
    </div>

    <div id="inventory">
        <table>
            <thead>
                <tr>
                    <th>Inventory</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Inventory)
            {
                <tr>
                    <td>@item.Name</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
